* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: white;
}

form {
    width: 700px;
    height: 700px;
    background: linear-gradient(45deg, #33658A, #2E4057);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-between;
}

.welcome-title {
    height: 8%;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 2rem;
}

.progress-bar {
    height: 25%;
    width: 100%;
    display: flex;
    align-items: center;
}

.circle-one, .circle-two, .circle-three, .circle-four {
    background-color: #dedede;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar-one, .bar-two, .bar-three {
    width: 166.666px;
    height: 2px;
    background-color: #dedede;
}

.circle-one.show, .circle-two.show, .circle-three.show, .circle-four.show, .bar-one.show, .bar-two.show, .bar-three.show {
    background-color: #F6AE2D;
}

.user-information {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user-information input {
    width: 100%;
    height: 70px;
    margin-top: 20px;
    font-size: 2rem;
}

.user-information label {
    display: block;
    font-size: 2rem;
    color: white;
    margin-bottom: 20px;
}

.buttons-container {
    height: 17%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.buttons-container div {
    width: 250px;
    height: 70px;
    border-radius: 10px;
    border: none;
    font-size: 2rem;
    background-color: #F6AE2D;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons-container div:hover {
    cursor: pointer;
    color: white;
}