@font-face {
    font-family: 'merriweather';
    src: url(Merriweather.ttf);
}

@font-face {
    font-family: 'opensans';
    src: url(OpenSans.ttf);
}

@font-face {
    font-family: 'roboto';
    src: url(Roboto.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    --clr-blue: #49a6ea;
    --clr-gray: #f1f5f8;
    --clr-white: #ffffff;
    --clr-blueText: #8ebaed;
    --clr-grayText: #73889d;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: var(--clr-gray);
}

.review-welcome {
    margin-bottom: 10px;
    font-size: 3rem;
    font-family: roboto;
}

.review-welcome h2 {
    font-weight: 700;
}

.underline {
    width: 150px;
    height: 5px;
    background-color: var(--clr-blue);
    margin-bottom: 40px;
}

.review-container {
    width: 700px;
    height: 650px;
    background-color: var(--clr-white);
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 20px 10px 10px 10px;
}

.customer-image {
    width: 140px;
    height: 150px;
    position: relative;
}

.customer-image .quote-circle {
    background-color: var(--clr-blue);
    width: 38px;
    height: 40px;
    position: absolute;
    border-radius: 50%;
    top: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.customer-image .quote-circle span {
    transform: scale(1.4);
}

.customer-image img {
    object-fit: cover;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    box-shadow: 5px -3px 0px var(--clr-blue);
}

.customer-name {
    text-align: center;
}

.customer-name h2 {
    font-size: 2.5rem;
    font-family: merriweather;
    font-weight: 200;
}

.customer-name h6 {
    font-size: 1rem;
    margin-top: 20px;
    font-family: opensans;
    color: var(--clr-blueText);
    text-transform: uppercase;
}

.back-arrow {
    position: absolute;
    top: 50%;
    left: 2.5%;
    transform: translateY(-50%);
    font-size: 2rem;
}

.forward-arrow {
    position: absolute;
    top: 50%;
    right: 2.5%;
    transform: translateY(-50%);
    font-size: 2rem;
}

.back-arrow:hover, .forward-arrow:hover {
    cursor: pointer;
    color: var(--clr-grayText);
}

.customer-review {
    width: 85%;
    font-size: 1.5rem;
    transform: translateY(-25%);
    font-family: opensans;
    color: var(--clr-grayText);
}

@media (max-width: 700px) {
    .review-welcome {
        font-size: 2rem;
    }

    .customer-name h2 {
        font-size: 1.5rem;
    }

    .customer-name h3 {
        font-size: 0.8rem;
    }

    .review-container {
        width: 450px;
    }

    .customer-review {
        width: 70%;
        font-size: 1.3rem;
        transform: translateY(-10%);
    }
}