* {
    box-sizing: border-box;
    margin: 0;
    --clr-accent: #E75A7C;
    --clr-secondary: #2C363F;
    --clr-primary: #F2F5EA;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: var(--clr-primary);
}

.login-container {
    width: 380px;
    height: 420px;
    background: var(--clr-secondary);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.login-title {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--clr-primary);
}

.login-container form {
    height: 80%;
    width: 100%;
}

.form-email, .form-password {
    display: block;
    margin-bottom: 20px;
}

.form-email input, .form-password input {
    height: 40px;
    width: 100%;
    background-color: transparent;
    font-size: 0.9rem;
    color: var(--clr-primary);
    border: 0;
    border-bottom: 2px solid var(--clr-accent);
}

.form-password a {
    display: block;
    text-align: center;
}

label {
    color: var(--clr-primary);
}

.form-email input:focus, .form-email input:valid, .form-password input:focus, .form-password input:valid {
    outline: 0;
}

.login-and-register {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    margin-top: 40px;
    width: 100%;
    height: 115px;
}

.login-and-register button {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: var(--clr-primary);
    color: var(--clr-accent);
    font-size: 1rem;
}

.login-and-register button:hover {
    cursor: pointer;
}

.login-container p {
    color: var(--clr-primary);
}

.login-container a {
    text-decoration: none;
    color: var(--clr-accent);
}